@use './styles/partials/fonts'as *;
@use './styles/partials/mixins'as *;
@use './styles/partials/variables'as *;

html {
    font-family: "avenir";
}
hr {
        border: 1px solid $mercury;
        margin: 0 1rem 0 1rem;
        padding: 0;
        @include tablet {
            margin: 0 2rem 0 2rem;
        }
        @include desktop {
            margin: 0 3rem 0 3rem;
        }
}
.main {
    &__right {
        @include desktop {
            width: 35%;
            border-left: 2px solid $mercury;
        }
    }
    &__left {
        @include desktop {
            width: 65%;
        }
    }
    @include desktop {
        display: flex;
    }
}
a {
    text-decoration: none;
    color: inherit;
}